<div class="container my-4">

  <div class="d-flex mb-4">
    <h1 class="mr-auto">FHSWF Angular Kostenplaner</h1>
    <button class="btn btn-primary" (click)="onBudgetClick()">Budget hinzufügen</button>
    <button class="btn btn-outline-secondary ml-2" (click)="onExpenseAdd()">Kosten hinzufügen</button>
  </div>

  <div class="card-deck">

    <app-budget-card *ngFor="let budget of budgets"
                     [name]="budget.name"
                     [amount]="budget.amount"
                     [max]="budget.max"
                     (onExpenseAdd)="onExpenseAdd(budget)"
                     (onViewExpenses)="onViewExpenses(budget)"
    ></app-budget-card>

    <!--
    <app-budget-card [name]="'Hello World 1!'" [amount]="25" [max]="100"></app-budget-card>

    <app-budget-card [name]="'Hello World 2!'" [amount]="50" [max]="100"></app-budget-card>

    <app-budget-card [name]="'Hello World 3!'" [amount]="75" [max]="100"></app-budget-card>

    <app-budget-card [name]="'Hello World 4!'" [amount]="100" [max]="100"></app-budget-card>
    -->

    <app-total-budget-card
      [amount]="TotalBudgetAmount"
      [max]="TotalBudgetMax"
    ></app-total-budget-card>

  </div>

  <!--
  <div class="d-grid align-content-stretch gap-2 align-items-start"
       style="gridTemplateColumns: repeat(auto-fill, minmax(300px, 1fr))">

    <app-budget-card [name]="'Hello World 1!'" [amount]="25" [max]="100"></app-budget-card>

    <app-budget-card [name]="'Hello World 2!'" [amount]="50" [max]="100"></app-budget-card>

    <app-budget-card [name]="'Hello World 3!'" [amount]="75" [max]="100"></app-budget-card>

    <app-budget-card [name]="'Hello World 4!'" [amount]="100" [max]="100"></app-budget-card>

    <app-total-budget-card [amount]="100" [max]="100"></app-total-budget-card>

  </div>
  -->

</div>
